services:
  monitoring:
    build: .
    container_name: monitoring
    ports: 
      - $PORT:$PORT
    environment:
      - SEND_ADDRESS
      - SEND_PASSWORD
      - SMTP_RELAY
      - TO_ADDRESS
      - PORT
    image: lucas42/lucos_monitoring
    restart: always
    network_mode: host
