{erl_opts, [debug_info]}.
{deps,[
  %% Packages
  {gen_smtp, "~> 1.3"},
  {jiffy, "~> 1.1"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [lucos_monitoring]}
]}.

{relx, [{
  release,
  {prod, "1.0.0"},
  [lucos_monitoring,jiffy,gen_smtp,sasl,eunit,inets]
}]}.

{profiles, [
    {prod, [{relx, [{dev_mode, false},
                    {include_erts, true},
                {include_src, false}]}
     ]}
]}.